* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

#container {
  width: 80%;
  max-width: 400px;
  margin: 100px auto;
}

h1 {
  margin: 40px 0 10px;
  opacity: 0.9;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input, button {
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

input {
  margin-bottom: 10px;
}

button {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

button:hover {
  filter: brightness(1.1);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
} 

#resposta {
  margin-top: 40px;
}

#resposta div {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  opacity: 0.9;
}